In [9]:
#pymysql is a module used to link Python to mysql environment
import pymysql

In [10]:
mydb = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'root',
    password = 'Akindele21$'
)

mycursor = mydb.cursor()

In [11]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('davekitchen',)
('earlycodeacademy',)
('earlycodeacademy2',)
('employee_system',)
('information_schema',)
('j_waec_system',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [16]:
mycursor.execute('drop database PrimeAcademy')

0

In [19]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('davekitchen',)
('earlycodeacademy',)
('earlycodeacademy2',)
('employee_system',)
('information_schema',)
('j_waec_system',)
('mysql',)
('performance_schema',)
('primeacademy',)
('sakila',)
('sys',)
('world',)

In [18]:
mycursor.execute('create database PrimeAcademy')

1

In [10]:
mydb = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'root',
    password = 'Akindele21$',
    database = 'primeacademy'
)

mycursor = mydb.cursor()

#id,name, age,gender, dob, address, guardian, guardiancontact

In [23]:
mycursor.execute('create table students(id int primary key not null, Name varchar(255) not null, Age int not null,Gender varchar(40) not null, DOB date not null, Address text not null, Guardian varchar(255) not null,Guardian_Contact varchar(50) not null)')

mycursor.execute('show columns from students')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('Name', 'varchar(255)', 'NO', '', None, '')
('Age', 'int', 'NO', '', None, '')
('Gender', 'varchar(40)', 'NO', '', None, '')
('DOB', 'date', 'NO', '', None, '')
('Address', 'text', 'NO', '', None, '')
('Guardian', 'varchar(255)', 'NO', '', None, '')
('Guardian_Contact', 'varchar(50)', 'NO', '', None, '')

In [23]:
def Accept_Record():
    id = int(input("Enter Student ID: "))
    Name = input("Enter Student Name: ")
    Age = int(input("Enter age of student: "))
    Gender = input("Enter student gender (Male/Female/Other): ")
    DOB = input("Enter student date of birth (YYYY-MM-DD): ")
    Address = input("Enter student address: ")
    Guardian = input("Enter student guardian: ")
    Guardian_Contact = input("Enter student guardian contact: ")
    
    query = "insert into students(id, Name, Age, Gender, DOB, Address, Guardian, Guardian_Contact)values(%s,%s,%s,%s,%s,%s,%s,%s)"
    mycursor.execute(query,(id, Name, Age, Gender, DOB, Address, Guardian, Guardian_Contact))
    mydb.commit() #enables records stay on a table permanently
    print('Record inserted successfully...')
    
def Search_Record():
    id = int(input("Enter Search id: "))
        
    query = 'select * from students where id = "%s"'  
    mycursor.execute(query,(id,))
    result = mycursor.fetchall()
    if len(result) == 0:
        print("Record not found")
    else:
        for x in result:
            print(x)
            
def Display_Records():
    mycursor.execute('select * from students')
    for x in mycursor:
        print(x)
    
def Update_Record():
    id = int(input("Enter Search id: "))
    column = input('Enter the columm to to be updated: ')
    newval = input('Enter the new value:')
    query = f'update students set {column} = %s where id  = %s'
    mycursor.execute(query, (newval, id))
    mydb.commit()
    print('record updated sucesssfly...'/)   
                    
def Archive_Record():
    id = int(input('Enter ID to be Deleted: '))
    query = 'delete from students where id = %s'
    mycursor.execute(query,(id,))
    mydb.commit()
    print("Record has been deleted successfully")


def main():
    print('Welcome Admin')
    print('Operation list [Accept, Search, Display, Update, Archive, logout]')
    operation = True
    while operation:
        option = input('Select Operation:')
        if option == 'Accept'.lower():
            Accept_Record()
        elif option == 'Search'.lower():
            Search_Record()
        elif option == 'Display'.lower():
            Display_Records()
        elif option == 'Update'.lower():
            Update_Record() 
        elif option == 'Archive'.lower():
            Archive_Record()
        elif option == 'Logout'.lower():
            operation = False
            print('OPERATION TETMINATED.....')
            break

In [25]:
main()

Welcome Admin
Operation list [Accept, Search, Display, Update, Archive, logout]
Select Operation:accept
Enter Student ID: 802
Enter Student Name: Jerry John
Enter age of student: 22
Enter student gender (Male/Female/Other): Male
Enter student date of birth (YYYY-MM-DD): 2002-05-04
Enter student address: No 55, Keana close, Kubwa Abuja
Enter student guardian: Oluwatoyosi
Enter student guardian contact: 08022889045
Record inserted successfully...
Select Operation:logout
OPERATION TETMINATED.....