In [ ]:
#Tuple
#Tuple is unchangable
#Tuple must be in order
#Tuple is denoted with ()
## Tuple is an advanced data type
## tuple can store diff data types

In [3]:
numbers = (12, 56, 67, 87, 89, 90, 45,)

In [4]:
print(type(numbers))

<class 'tuple'>

In [5]:
print(len(numbers))

7

In [6]:
print(numbers[4])

89

In [7]:
print(numbers[10])

IndexError: tuple index out of range

In [8]:
print(numbers[-3])

89

In [9]:
print(numbers[2:6])

(67, 87, 89, 90)

In [23]:
print(100 in numbers)

NameError: name 'numbers' is not defined

In [11]:
print(numbers.count (60))

0

In [12]:
print(numbers.index(90))

5

In [13]:
print(numbers.index(87))

3

In [14]:
#List
#List are changable not like tuples i.e you can add or remove 
#List is denoted with []
# can be ordred or unordered
# both list and tuple

In [2]:
shopA = ['Apple', 'Bucket', 'Strawberry', 'Lemon', 'Banana']

In [3]:
shopA.append('orange')
print(shopA)

['Apple', 'Bucket', 'Strawberry', 'Lemon', 'Banana', 'orange']

In [5]:
shopA.append('drive')
print(shopA)

['Apple', 'Bucket', 'Strawberry', 'Lemon', 'Banana', 'orange', 'drive']

In [18]:
#append - only adds at the ending
#insert- you get to choose the location where it can be inserted
#extend - adds a new or existing list to  another

In [20]:
shopA.insert( 2, 'drive')
print(shopA)

['Apple', 'Bucket', 'drive', 'Strawberry', 'Lemon', 'Banana', 'orange']

In [21]:
shopB = ['burna', 'davido', 'wizkid']

In [22]:
shopA.extend(shopB)
print(shopA)

['Apple', 'Bucket', 'drive', 'Strawberry', 'Lemon', 'Banana', 'orange', 'burna', 'davido', 'wizkid']

In [23]:
# pop & remove
#any time you want to remove a value using pop u specify the index number
#any time you want to remove a value using remove u specify the value number

In [24]:
shopA.pop(0)
print(shopA)

['Bucket', 'drive', 'Strawberry', 'Lemon', 'Banana', 'orange', 'burna', 'davido', 'wizkid']

In [26]:
shopA.remove('Lemon')
print(shopA)

['Bucket', 'drive', 'Strawberry', 'Banana', 'orange', 'burna', 'davido', 'wizkid']

In [27]:
#sort- arranges your value in acending order
#reverse - arranges your value in desending order
#copy- makes duplicate of my list
#clear - clears the list
#delete is a global function (not only applicable to list)

In [28]:
shopA.sort()
print(shopA)

['Banana', 'Bucket', 'Strawberry', 'burna', 'davido', 'drive', 'orange', 'wizkid']

In [29]:
shopA.reverse()
print(shopA)

['wizkid', 'orange', 'drive', 'davido', 'burna', 'Strawberry', 'Bucket', 'Banana']

In [30]:
shopC = shopA.copy()
print(shopC)

['wizkid', 'orange', 'drive', 'davido', 'burna', 'Strawberry', 'Bucket', 'Banana']

In [31]:
shopC.clear()
print(shopC)

[]

In [32]:
del(shopC)
print(shopC)

NameError: name 'shopC' is not defined

In [33]:
#DICTIONARY{}
#when creating a directionary, you create it with a pair of key and value

In [35]:
records = {
    'Name':'Fatima',
    'Age':67,
    'Gender': 'Female',
    'Height':1.56,
    'Weight':60.5
}
print(records['Height'])

1.56

In [36]:
records['Address'] = 'No 25 Highway street'
print(records)

{'Name': 'Fatima', 'Age': 67, 'Gender': 'Female', 'Height': 1.56, 'Weight': 60.5, 'Address': 'No 25 Highway street'}

In [37]:
newval = {'Height':1.999}
records.update(newval)
print(records)

{'Name': 'Fatima', 'Age': 67, 'Gender': 'Female', 'Height': 1.999, 'Weight': 60.5, 'Address': 'No 25 Highway street'}

In [38]:
#2 days to delete from our dic
#pop & pop item
# popitem deletes the last pair of key and value in the dic

In [39]:
records.popitem()
print(records)

{'Name': 'Fatima', 'Age': 67, 'Gender': 'Female', 'Height': 1.999, 'Weight': 60.5}

In [106]:
records.pop('Age')
print(records)

NameError: name 'records' is not defined

In [46]:
print(records.keys())

dict_keys(['Name', 'Gender', 'Height', 'Weight'])

In [47]:
print(records.values())

dict_values(['Fatima', 'Female', 1.999, 60.5])

In [48]:
print(records.items())

dict_items([('Name', 'Fatima'), ('Gender', 'Female'), ('Height', 1.999), ('Weight', 60.5)])

In [49]:
records = {
    'Name' : ['Ade', 'Bisi', 'James'],
}
print(records['Name'][1])

Bisi

In [97]:
t1 = (1,2,3)
t2= (4,5,6)
print(t2 + (7,))

(4, 5, 6, 7)

In [17]:
print(t1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [18]:
print(t1[1:])

(2, 3)

In [19]:
print(t1[1:])

(2, 3)

In [20]:
print(t1[:1])

(1,)

In [21]:
print(t1[:2])

(1, 2)

In [26]:
print (5 in t1)

False

In [27]:
t5=(12,13,15,17,15,18,19,22,15,26,29,26)
print(len(t5))

12

In [28]:
print(t5.count(15))

3

In [29]:
print(t5.count(32))

0

In [30]:
print(t5.index(26))

9

In [31]:
print(t5.index(15))

2

In [32]:
print(t5.index(15))

2

In [35]:
#List
my_list = [12, 'Jeff', 56.75, 'Abj']
print(my_list)

[12, 'Jeff', 56.75, 'Abj']

In [56]:
print(my_list[-4])

12

In [41]:
word = list('Hello')
print(word)

['H', 'e', 'l', 'l', 'o']

In [43]:
T2=list((1,2,3,4))
print(T2)

[1, 2, 3, 4]

In [44]:
for char in T2:
    print (char)

1
2
3
4

In [45]:
Male = ['Dave', 'Ayo', 'Ola', 'Mark']
print(type(Male))
print(Male)

<class 'list'>
['Dave', 'Ayo', 'Ola', 'Mark']

In [46]:
Male.append('James')
print(Male)

['Dave', 'Ayo', 'Ola', 'Mark', 'James']

In [47]:
Male.insert(0, 'Afo')
print(Male)

['Afo', 'Dave', 'Ayo', 'Ola', 'Mark', 'James']

In [48]:
female=['lois', 'peace', 'joy']
Male.extend(female)
print(Male)

['Afo', 'Dave', 'Ayo', 'Ola', 'Mark', 'James', 'lois', 'peace', 'joy']

In [49]:
Male.insert(1, 'Sarah')
print(Male)

['Afo', 'Sarah', 'Dave', 'Ayo', 'Ola', 'Mark', 'James', 'lois', 'peace', 'joy']

In [50]:
print(female)

['lois', 'peace', 'joy']

In [52]:
song= ('sing', 'song')
print(song)

('sing', 'song')

In [53]:
print(Male)

['Afo', 'Sarah', 'Dave', 'Ayo', 'Ola', 'Mark', 'James', 'lois', 'peace', 'joy']

In [57]:
Male.pop(2)
print(Male)

['Afo', 'Sarah', 'Ayo', 'Ola', 'Mark', 'James', 'lois', 'peace', 'joy']

In [58]:
Male.remove('Ayo')
print(Male)

['Afo', 'Sarah', 'Ola', 'Mark', 'James', 'lois', 'peace', 'joy']

In [59]:
Male.sort()
print(Male)

['Afo', 'James', 'Mark', 'Ola', 'Sarah', 'joy', 'lois', 'peace']

In [60]:
Male.reverse()
print(Male)

['peace', 'lois', 'joy', 'Sarah', 'Ola', 'Mark', 'James', 'Afo']

In [65]:
print(Male.index('Mark'))

5

In [66]:
newNames = Male.copy()
print(newNames)

['peace', 'lois', 'joy', 'Sarah', 'Ola', 'Mark', 'James', 'Afo']

In [67]:
newNames.pop()
print(newNames)

['peace', 'lois', 'joy', 'Sarah', 'Ola', 'Mark', 'James']

In [73]:
print(newNames)

[]

In [74]:
old = ['mark', 'james']
newNames.extend(old)
print(newNames)

['mark', 'james']

In [75]:
del newNames
print(newNames)

NameError: name 'newNames' is not defined

In [76]:
#dictionary
Items={
    ("Parker", "Reynolds", "Camlin"):"pen", ("LG", "Whirlpool", "Smamsung"): "Refrigerator"
}

print(Items)

{('Parker', 'Reynolds', 'Camlin'): 'pen', ('LG', 'Whirlpool', 'Smamsung'): 'Refrigerator'}

In [79]:
Games={
    "Fifa": 24,
    "GTA": 5,
    "Mortal Kombat": 23,
    "NBA": 20,
    "GTA": 6
    
}
print(Games["GTA"])

6

In [80]:
numdict= dict(I="one", II="two", III="three")
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

In [82]:
print(numdict["II"])

two

In [83]:
print(numdict.get("III"))

three

In [85]:
print(numdict.get("IV"))

None

In [88]:
#for loop in dic
for nums in numdict:
    print("Key = " + nums + ", Value = " + numdict[nums])

Key = I, Value = one
Key = II, Value = two
Key = III, Value = three

In [89]:
print(nums)

III

In [90]:
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

In [91]:
numdict["IV"]= 4
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three', 'IV': 4}

In [92]:
correction = {'IV' : 5}
numdict.update(correction)
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three', 'IV': 5}

In [93]:
numdict.popitem()
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

In [94]:
numdict["IV"] = 4
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three', 'IV': 4}

In [95]:
del numdict["IV"]
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

In [102]:
print(numdict)

{'I': 'one', 'II': 'two'}

In [103]:
deletevalue= numdict.pop('II')
print("popped element is ", deletevalue)

popped element is  two

In [104]:
print(deletevalue)

two

In [105]:
print(numdict)

{'I': 'one'}

In [ ]:
newdelete =